@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@400;600;700&display=swap');

/*-- home styling goes here --*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

section#home {
    background: #080808;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1F9BCE, #7967A5);
}

div.container1  nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 20px 5px 20px;
    margin: 0;
    border: none;
}

div h1#heading {
  color: #1B9FCF;
  font-family: 'Fredoka One', cursive;
  font-size: 56px;
  font-weight: bold;
  line-height: 1.2;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 5px;
    background: #1B9FCF;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

div.container2 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 40px 20px 40px 20px;
    border: none;
}

.image img {
    border: none;
    border-radius: 20px;
    width: 90vh;
    height: 50vh;
}

div.paragraph {
    margin-right: 30px;
}

.paragraph h2.heading {
  color: white;
  font-size: 46px;
  font-family: 'Fredoka One', cursive;
  line-height: 1.3;
}

.paragraph p {
    line-height: 1.6;
    font-size: 18px;
    font-weight: 500;  
    padding-top: 30px;
    color: white;
}

.watch-now {
    background: #FE6B34;
    border: none;
    padding: 20px 30px;
    font-family: poppins;
    font-size: 14px;
    margin: 0px ;
    border-radius: 10px;
}

.watch-now a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.meet-family {
    background: #4287BE;
    border: 2px solid white;
    padding: 20px 30px;
    font-family: poppins;
    font-size: 14px;
    margin: 30px;
    border-radius: 10px;
}

.meet-family a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/*-- characters styling goes here --*/
