@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@400;600;700&display=swap');

/*-- home styling goes here --*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

section#home {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1F9BCE, #7967A5);
}

div.container1  nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 20px 20px 20px;
    margin: 0;
    border: none;
    position: fixed;
    width: 100%;
}

div h1#heading {
  color: #1B9FCF;
  font-family: 'Fredoka One', cursive;
  font-size: 56px;
  font-weight: bold;
  line-height: 1.2;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 5px;
    background: #1B9FCF;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

div.container2 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 150px 20px 60px 20px;
    border: none;
}

.image img {
    border: none;
    border-radius: 20px;
    width: 90vh;
    height: 50vh;
}

div.paragraph {
    margin-right: 30px;
}

.paragraph h2.heading {
  color: white;
  font-size: 46px;
  font-family: 'Fredoka One', cursive;
  line-height: 1.3;
}

.paragraph p {
    line-height: 1.6;
    font-size: 18px;
    font-weight: 500;  
    padding-top: 30px;
    color: white;
}

.watch-now {
    background: #FE6B34;
    border: none;
    padding: 20px 30px;
    font-family: poppins;
    font-size: 14px;
    margin: 0px ;
    border-radius: 10px;
}

.watch-now a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.meet-family {
    background: #4287BE;
    border: 2px solid white;
    padding: 20px 30px;
    font-family: poppins;
    font-size: 14px;
    margin: 30px;
    border-radius: 10px;
}

.meet-family a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.episodes {
    font-family: 'Fredoka one', cursive;
    color: #2D3748;
    text-align: center;
    margin-top: 20px;
}

.latest {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    margin: 24px;
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
    max-width: 600px;
    width: 100%;
    height: auto;
}

.image-bg {
    background-color: #FFC107;
    text-align: center;
}

.image-bg img {
    padding: 60px;
    width: 50px;
    height: 50px;
}

.text-bg {
    background-color: #FFFFFF;
    padding: 16px;
    font-family: 'Poppins', sans-serif;

}

.text-bg h3 {
    font-size: 24px;
}

.text-bg p {
    font-size: 18px;
}

.text-bg button {
    font-size: 18px;
    background-color: #ff4500;
    padding: 16px 32px;                           ;
    border-radius: 15px;
    overflow: hidden;
    border: none;
    color: #FFFFFF;
    font-weight: 900px bolder;
    font-family: 'Poppins', sans-serif;
}

footer {
    padding: 40px 24px;
    background-color: #2D3748;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 24px 48px 24px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.end {
    color: #FFC107;
    font-family: 'Fredoka one', cursive;
}

#links li a {
    text-decoration: none;
    color: #FFFFFF;
}

.logo-bg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #00B8D4;
    margin: 0 5px;
}

.logo {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
    
}

hr {
    border: none;
    height: 0.08px;
    background-color: grey;
    margin: 0 48px;
}

.copyright {
    text-align: center;
    font-size: 14px;
    margin-top: 16px;
}   

